<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="main">
    <a href ="#" [routerLink]="['/add']">Add an author</a>
    <h3>We have quotes by:</h3><br>
    <table class="table-bordered table-light">
        <thead>
            <th>Author</th>
            <th>Actions available</th>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors['authors']">
                <td>{{author.name}}</td>
                <td>
                    <button (click)="onEdit(author._id)" class="btn btn-primary" [routerLink]="['/edit']">Edit</button>
                    <button (click)="delete(author._id)" class="btn btn-secondary" [routerLink]="['/']">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>